div.homepage {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 225, 255, 0.5);
  background-size: cover;
  border-radius: 5px;
  animation: entrance 5s ease-in-out;
}

div.homepage ul.tabs {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.homepage ul.tabs li {
  display: inline-block;
  margin: 20px;
  justify-content: center;
  text-align: center;
}

div.homepage ul.tabs li a {
  text-decoration: none;
  margin: 15px;
  color: rgb(8, 0, 121);
}

div.homepage ul.tabs li img {
  align-items: center;
  margin: 20px;
  width: 150px;
  height: 150px;
}
